{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="text-center">
        <h1>Add File</h1>
    </div>

    <form class="kt-form" style="padding: 20px" method="post" enctype="multipart/form-data">   
        {% csrf_token %}
    {% for field in form %}
        <div class="row form-group mb-5">
            <div class="col-md-3">
                {{ field.label_tag }}
                {% if field.field.required %}
                    <span class="text-danger"> *</span>
                {% endif %}
            </div>
            <div class="col-md-9">
                {{ field }}
            </div>
        </div>

        {% if field.help_text %}
            <div class="text-success font-italic">
                <i class="mdi mdi-information-variant"></i>
                {{ field.help_text }}
            </div>
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="text-danger">
                    <i class="mdi mdi-alert"></i> {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <div class='float-right'>
                <button class="btn btn-primary btn-lg" type="submit">
                    <i class="ci-check mr5"></i> Submit
                </button>
    </div>
    </form>
{% endblock%}